nav {
  display: flex;
}
.nav {
  background-color: #A6AE9C;
  align-items: center;
  display: flex;
  height:5rem;
  text-align: end;
  width: 80vw;
  z-index: 2;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}
.links {
  align-items: center;
  display: flex;
  flex: 2;
  font-size: 1.8rem;
  max-width: 75vw;
}
.link {
  flex: 1;
  margin-right: 8vw;
}