.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../images/detailScreenImage.jpeg);
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.border {
  display: flex;
  height: 100vh;
}

.details-card {
  display: flex;
  flex-direction: column;
  margin: 80px auto;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background-color: #8FC25E;
  background: rgba(143, 194, 94, 0.7);
  width: 68vw;
  height: 60vh;
  min-height: 350px;
}

.image-and-details {
  display: flex;
  margin: 50px;
  width: 60vw;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2;
  width: 55vw;
  height: 50vh;
  font-family: 'Open Sans', sans-serif;
}

#name {
  display: flex;
  font-family: Delius Swash Caps;
  font-size: 64px;
  letter-spacing: 1px;
  padding: 5px;
  line-height: 50px;
}

#price {
  font-size: 24px;
  margin: 0 15px;
}

#description {
  font-size: 24px;
  padding: 10px;
  letter-spacing: 0.9px;
  max-height: 100px;
  overflow-y: auto;
}


#materials {
  font-size: 24px;
  padding: 10px;
  letter-spacing: 0.9px;
}

#collection{
  font-size: 24px;
  padding: 10px;
  letter-spacing: 0.9px;
}

.details-img {
  width: 30vw;
  border: 2px solid #454021;
  margin: 30px 30px 0 0;
}


#buttons {
  display: flex;
  width: 20vw;
  gap: 15px;
  justify-content: space-between;
}

#edit {
  text-decoration: none;
  font-size: 2.6rem;
  text-align: center;
  min-width: 100px;
  height: 6vh;
  width: 7vw;
  align-self: center;
  background-color: #454021;
  margin-top: 40px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 2px;
}

#delete {
  text-decoration: none;
  font-size: 2.6rem;
  text-align: center;
  min-width: 100px;
  height: 6vh;
  width: 7vw;
  align-self: center;
  background-color: #454021;
  margin-top: 40px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 2px;
}

.label-input {
  width: 35vw;
  min-width: 260px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 2rem;
  margin: 20px 0;
}


.details-label {
  display: flex;
  font-size: 24px; 
}

.labels {
  min-width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 24px;
  padding: 10px;
}

.text {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}


.name-and-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: -50px
}

@media only screen and (max-width: 975px) {
  #name {
    font-size: 38px;
  }

  .details {
    line-height: normal;
  }

  #price {
    font-size:20px;
  }

  #description {
    font-size:20px;
  }

  #materials {
    font-size:20px;
  }

  #collection {
    font-size:20px;

  }

  #buttons {
    gap: 15px;
  }
}