.product-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../images/detailScreenImage.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: fit-content;
}

.border-edit {
  height: fit-content;
}

.edit-card {
  display: flex;
  margin: 80px auto;
  justify-content: center;
  align-items: center;
  background-color: #8fc25e;
  background: rgba(143, 194, 94, 0.7);
  width: 75vw;
  height: fit-content;
  min-height: 350px;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.edit-label-input {
  width: 35vw;
  min-width: 260px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 2rem;
  
}

.edit-image {
  width: 20vw;
  min-width: 200px;
  max-height: 350px;
  border: 2px solid #454021;
}

.form {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.image-and-form {
  display: flex;
}

.edit-form-inputs {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  
}

.name-edit {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

#edit-name {
  font-size: 4rem;
  width: 32vw;
  min-width: 400px;
  padding: 6px;
  font-family: Delius Swash Caps;
  text-align: center;
}

#edit-price {
  width: 25vw;
  padding: 4px;
}

#edit-details {
  width: 25vw;
  min-width: 155px;
  padding: 4px;
}

#edit-image-url {
  width: 25vw;
  padding: 4px;
}

#edit-material {
  width: 25vw;
  padding: 4px;
}

#edit-collection {
  width: 25vw;
  padding: 4px;
  
}

.edit-label {
  width: 10vw;
  min-width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
}

.edit-text {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  padding: 10px;
  letter-spacing: 0.9px;
  width: 20vw;
  min-width: 180px;
}

#category-input {
  width: 20vw;
  min-width: 160px;
  font-size: 1.6rem;
  background-color: white;
  color: black;
  border-radius: 5px;

}

Multiselect chips {
  background-color: green;
}

#materials-input {
  width: 20vw;
  min-width: 160px;
  font-size: 1.6rem;
  background-color: white;
  color: black;
  border-radius: 5px;


}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 9vh;
}

.save-button {
  margin-top: 20px;
  margin: 0px auto;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  min-width: 100px;
  height: 6vh;
  min-height: 40px;
  width: 7vw;
  align-self: flex-end;
  background-color: #454021;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 2px;

  transition: all 0.5s ease;
  background: linear-gradient(to right, #454021 50%, #8fc25e 50%);
  background-size: 200% 100%;
  background-position: left bottom;
}

.save-button:hover {
  background-position: right bottom;
}

/* ------------------------------------------- */
/* ------------------------------------------- */

@media (max-width: 1000px) {
  .edit-label {
    font-size: 1.7rem;
  }
}

@media (max-width: 800px) {

  .form {
    flex-direction: column;
    align-items: center;
  }

  .image-and-form {
    flex-direction: column;
  }

  .image-holder {
    display: flex;
    justify-content: center;
  }

  .edit-form-inputs {
    width: 60vw;
    margin: 20px 0;
  }

  .edit-label-input {
    justify-content: space-around;
    margin: 2px;
    width: 60vw;
  }
  
  .edit-text {
    width: 50vw;
  }

  #edit-price {
    width: 30vw;
    min-width: 220px;
    padding: 4px;
  }
  
  #edit-details {
    width: 30vw;
    min-width: 220px;

  }
  
  #edit-image-url {
    width: 30vw;
    min-width: 220px;


  }
  
  #edit-material {
    width: 30vw; 
    min-width: 220px;

  }
  
  #edit-collection {
    width: 30vw;
    min-width: 220px;
  }

  #category-input {
    width: 30vw;
    min-width: 200px;
  
  }
  
  #materials-input {
    width: 30vw;
    min-width: 200px;
  }
}

@media (max-width: 600px) {
  .edit-label-input {
    flex-direction: column;
  }

  #edit-name {
    width: 50vw;
    min-width: 300px;
    font-size: 2.5rem;
  }

  #category-input {
    width: 40vw;
    min-width: 160px;
  
  }
  
  #materials-input {
    width: 40vw;
    min-width: 160px;
  }
}

@media (max-width: 400px) {

  .edit-card {
    width: 95vw;
    padding: 0;
    margin: 20px auto;
  }
  .edit-label-input {
    width: 50vw;
    min-width: 250px;
  }

  .edit-form-inputs {
    width: 90vw;
    min-width: 240px;
  }

  .edit-text {
    width: 75vw;
    min-width: 230px;
  }

  #edit-name {
    width: 50vw;
    min-width: 240px;
    font-size: 2.5rem;
  }


}