.forms-screen-si {
  background: center / cover no-repeat url("../../images/formScreensImage.jpeg");
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.auth-form-si {
  height: 80vh;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
}

.sign-in-forms-card-si {
  background-color: #8ec25ef1;
  width: 55vw;
  height: 60vh;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  padding: 2vh 0;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.form-label-input-div-si {
  width: 40vw;
  min-width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  margin-left: -7vw;
}


.form-input-si {
  width: 20vw;
  min-width: 120px;
}

.label-div-si {
  width: 15vw;
  min-width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.form-title-si {
  margin: 2vh;
  font-size: 3rem;
  font-family: 'Delius Swash Caps', cursive; 
}

.form-submit-button-si {
  color: white;
  background-color: #454021;
  border: none;
  padding: 1vh;
  width: 12vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.3rem;
  border-radius: 10px;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  transition: all 0.5s ease;
}

.btn-reg {
  padding: 0.7em 1.5em;
  border: none;
  color: #fff;
  background: #454021;
  border: 2px solid #454021;
  box-shadow: inset 0 0 0 0 #454021;
}
.btn-reg:hover {
  box-shadow: inset 0 0 0 50px #8ec25ef1;
}

textarea {
  resize: none;
}

@media (max-width: 760px) {
  .form-label-input-div-si {
    font-size: 1.8rem;
    margin-left: 1.5vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .label-div-si {
    width: 12vw;
    min-width: 175px;
    vertical-align: center;
    justify-content: flex-start;
  }
  .form-input-si {
    width: 20vw;
    min-width: 175px;
    margin-left: 10px;
    min-height: 18px;
  }

  .form-submit-button-si {
    font-size: 1.8rem;
    min-width: 150px;
    height: 6vh;
  }
}

@media screen and (max-width: 550px) {
  .sign-in-forms-card-si{
    height: 60vh;
    width: 70vw;
    min-width: 250px;
  }

  .form-input-si {
    min-height: 20px;
  }
}


@media screen and (min-width: 768px) {

  .sign-in-forms-card-si {
    height: 40vh;
    width: 60vw;
  }

  .form-submit-button-si {
    font-size: 2.2rem;
    min-width: 150px;
    height: 6vh;
  }

  .form-input-si {
    min-height: 25px;
  }

  .form-label-input-div-si{
    width: 40vw;
    
  }

  .label-div-si {
    font-size: 2rem;
  }

}

@media screen and (min-height: 1250px) {
  .label-div-si {
    font-size: 2.5rem;
  }

  .form-submit-button-si {
    font-size: 2.3rem;
    min-width: 150px;
  }
}