.home {
  background-image: url("../../images/gmoneByTree.jpeg");
  background-size: cover;
  height: 120vh;
}

.home_inner{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}


.welcome_home_card {
  background-color: #8FC25E;
  width: 40vw;
  height: 38vh;
  text-align: center;
  padding-top: 4rem;
  margin-top: 4rem;
  margin-left: 4rem;
  opacity: 0.8;
}

.heading_home_text {
  font-size: 40px;
  font-family: Dancing Script;
}

.subtext_home_text {
  padding-top: 5rem;
  font-size: 30px;
  font-family: Delius Swash Caps;
}

.home_button {
  background-color: #8FC25E;
  margin-left: 18rem;
  margin-top: 1rem;
  width: 18vw;
  height: 8vh;
  border: none;
  outline:none; 
  border-radius: 4px;
  font-size:32px ;
  font-family: Open sans;
  
}

.home_button:hover {
  background-color: #454021;
  color: #F8FFF8 ;
}

@media (max-width: 1163px){
.welcome_home_card{
  width: 55vw;
  height: 40vh;
  text-align: center;
  padding-top: 4rem;
  margin-top: 4rem;
  margin-left: 4rem;

}

.subtext_home_text {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 30px;
  font-family: Delius Swash Caps;
}

.home_button{
  width: 50vw;
  font-size: 70px;
}

}
  







