.home {
  background-image: url("../../images/gmoneByTree.jpeg");
  background-size: cover;

  height: 120vh;
}

.home_inner{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}


.welcome_home_card {
  background-color: #8FC25E;
  width: 35vw;
  height: 35vh;
  text-align: center;
  padding-top: 4rem;
  margin-top: 4rem;
  margin-left: 2rem;
  opacity: 0.8;
}

.heading_home_text {
  font-size: 40px;
}

.subtext_home_text {
  padding-top: 5rem;
  font-size: 30px;
  
}

.home_button {
  background-color: #8FC25E;
  margin-left: 16rem;
  margin-top: 1rem;
  width: 15vw;
  height: 8vh;
  border: none;
  outline:none; 
  border-radius: 4px;
  font-size:32px ;
  
}

