.home {
  background-image: url("../../images/gmoneByTree.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vw;
}

.home_inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.welcome_home_card {
  background-color: #8fc25e;
  width: 40vw;
  min-width: 251px;
  height: 38vh;
  text-align: center;
  padding-top: 4rem;
  margin-top: 4rem;
  margin-left: 4rem;
  opacity: 0.8;
}

.heading_home_text {
  font-size: 40px;
  font-family: Dancing Script;
}

.subtext_home_text {
  padding-top: 5rem;
  font-size: 30px;
  font-family: Delius Swash Caps;
}

.home_button {
  border: 2px solid #454021;
  color: white;
  margin-left: 22rem;
  /* margin-left: 18rem; */
  margin-top: 1rem;
  width: 17vw;
  min-width: 125px;
  height: 8.5vh;
  border-radius: 4px;
  font-size: 2rem;
  font-family: Open sans;
  

  transition: all 0.5s ease;
}

.btn-slide-down {
  background: linear-gradient(to bottom, #8fc25e 50%, #454021 50%);
  background-size: 100% 201%;
  background-position: left bottom;
}

.btn-slide-down:hover {
  background-position: right top;
}

@media (max-width: 1258px) {
  .home_button {
    font-size: 2.5rem;
  }

  .subtext_home_text {
    padding-top: 5rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 1130px) {
  .home_button {
    font-size: 2.5rem;
    margin-left: 16.5rem;
  }
}

@media (max-width: 980px) {
  .home_button {
    font-size: 2rem;
    margin-left: 15rem;
  }

  .heading_home_text {
    font-size: 30px;
  }

  .subtext_home_text {
    padding-top: 5rem;
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  .home_button {
    font-size: 2rem;
    margin-left: 13rem;
  }

  .heading_home_text {
    font-size: 25px;
  }

  .subtext_home_text {
    padding-top: 5rem;
    font-size: 1.9rem;
  }
}

@media (max-width: 648px) {
  .home {
    height: 120vh;
  }
  .home_button {
    font-size: 1.5rem;
    margin-left: 10.5rem;
  }

  .heading_home_text {
    font-size: 23px;
  }

  .subtext_home_text {
    padding-top: 5rem;
    font-size: 1.8rem;
  }
  .welcome_home_card {
    margin-top: 0.2rem;
    margin-left: 0.8rem;
  }
}

@media (max-width: 295px) {
  .home_button {
    font-size: 1.5rem;
    margin-left: 7.5rem;
  }

  .heading_home_text {
    font-size: 23px;
  }

  .subtext_home_text {
    padding-top: 5rem;
    font-size: 1.8rem;
  }

  .welcome_home_card {
    min-width: 245px;
    text-align: center;
    padding-top: 4rem;
    margin-top: 1rem;
    margin-left: 0.8rem;
  }
}
